---
import i18next, { t } from "i18next";
---

<section class="bg-white dark:bg-gray-900 py-12 px-4 sm:px-6 lg:px-8" id="ABOUT" >
    <div class="max-w-6xl mx-auto" data-aos="fade-up">
        <div class="flex flex-col lg:flex-row lg:space-x-8">
            <!-- Imagen -->
            <div class="w-full lg:w-1/2 mb-8 lg:mb-0" >
                <img class="w-full h-auto rounded-lg shadow-lg object-cover transform transition-transform duration-500 hover:scale-105" src="/img/About.jpg" alt="Perfil" />
            </div>
            <!-- Contenido -->
            <div class="w-full lg:w-1/2 text-center lg:text-left">
                <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-4">{t("About.Title")}</h2>
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white mb-4">{t("About.SubTitle")}</h3>
                <div>
                    <p class="text-lg text-gray-700 dark:text-gray-300 mb-4" data-aos="fade-up" data-aos-offset="100"
                    data-aos-easing="ease-in-sine">
                    {t("About.P1")}
                    </p>
                    <p class="text-lg text-gray-700 dark:text-gray-300 mb-4" data-aos="fade-up" data-aos-offset="200">
                        {t("About.P2")}
                    </p>
                    <p class="text-lg text-gray-700 dark:text-gray-300" data-aos="fade-up" data-aos-offset="300">
                        {t("About.P3")}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
