---
import Card from './Card.astro';
import i18next, { t } from "i18next";

const data = [
    {
        title: t("Cards.1"),
        description: t("Cards.Des1"),
        imageUrl: "/img/Card1.jpg",
        link: "#"
    },
    {
        title: t("Cards.2"),
        description: t("Cards.Des2"),
        imageUrl: "/img/Card2.jpg",
        link: "#"
    },
    {
        title: t("Cards.3"),
        description: t("Cards.Desc3"),
        imageUrl: "/img/Card3.jpg",
        link: "#"
    },
    // Agrega más objetos de datos aquí
];
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-center" >
    {data.map((item) => (
        <Card title={item.title} description={item.description} imageUrl={item.imageUrl} link={item.link} />
    ))}
</div>
